[Desktop Entry]
Type=Application
Name=maxima
Exec=foo2
Comment=Maxima is a versatile computer algebra system
Icon=maxima
Categories=Development;
Terminal=true
